<h1 class="display-4">Image Repository</h1>
<p class="mb-4">An image repository application made using the SailsJS framework :)</p>
<a href="/images/list" class="btn btn-dark">View Images</a>
<a href="/images/add" class="btn btn-dark">Add Image</a>