<h1 class="display-4">List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Tags</th>
            <th>Directory</th>
        </tr>
    </thead>
    <tbody>
        <% images.forEach((image) => { %>
            <tr>
                <td><%= image.id %></td>
                <td><%= image.imageTitle %></td>
                <td><%= image.imageTags %></td>
                <td><%= image.imageUploadFileDirectory %></td>
            </tr>
        <% }) %>
    </tbody>